<nav class="nav2">
  <label for="toggle">☰</label>
  <input type="checkbox" id="toggle">
  <div class="main_pages">
    <a href="\" class="active">Accueil</a>
    <a href="\admin">Actualit&eacute;s</a>
    <a href="\post">Festival</a>
    <a href="\message">Le Parc Monceau</a>
    <a href="\post\1">Nous contacter</a>
  </div>
</nav>