<h1 class="header__logo">
  <img src="http://p5blog/image/SP-LOGO.png" alt="Logo de la société"/>
</h1>    
<nav class="nav">
  <label for="toggle">☰</label>
  <input type="checkbox" id="toggle">
  <div class="main_pages">
    <a href="/" class="active">Accueil</a>
    <a href="/postlist">Liste des posts</a>
    <a href="/contact">Nous contacter</a>
    <a href="/signin">Se connecter</a>
  </div>
</nav>
