<div>
<nav class="nav">  
    <div class="header__logo">
        <img src="/picture?name=SP-LOGO-small.png&type=png" alt="Logo de la société"/>
    </div>
    <label for="toggle">☰</label>
    <input type="checkbox" id="toggle">
    <div class="main_pages">
        <a href="/" {% if Page == '/' %}class="active"{% endif %}>Accueil</a>
        <a href="/postlist" {% if Page == '/postlist' %}class="active"{% endif %}>Liste des posts</a>
        <a href="/#contact">Nous contacter</a>
        {% if session.connected == '1' %}
            <a href="/signout">Se déconnecter</a>
        {% else %}
            <a href="/signin" {% if Page == '/signin' %}class="active"{% endif %}>Se connecter</a>
        {% endif %}
    </div>
</nav>
</div>
{% if session.connected == '1' %}
    <p>
        Vous êtes connecté en tant que : {{ session.name }} - <a href="/account-{{ session.idUser}}" class="btn btn-primary"><i class="fa fa-user"></i> Mon compte</a>

    </p>
{% endif %}




