<nav class="nav">
  <div class="header__logo">
    <img src="http://p5blog/image/SP-LOGO-small.png" alt="Logo de la société"/>
  </div>
  <label for="toggle">☰</label>
  <input type="checkbox" id="toggle">
  <div class="main_pages">
    <a href="/" {% if Page == '/' %}class="active"{% endif %}>Accueil</a>
    <a href="/postlist" {% if Page == '/postlist' %}class="active"{% endif %}>Liste des posts</a>
    <a href="/#contact">Nous contacter</a>
    <a href="/signin" {% if Page == '/signin' %}class="active"{% endif %}>Se connecter</a>
  </div>
</nav>


