.header {
    display: flex;
    justify-content: space-between;
    background: $colour-primary;
    height: 15rem;
    width: 100%;

    &__logo {
        display: block;
        float: left;
        font-size: 2em;
        padding: 10px 20px;
        text-decoration: none;
        max-height: 100%;
        z-index: 5;
        @media all and (max-width: 991px)
        {
            img {
                max-height: 100%;
            }
        }
    }
}
