.nav {
    width: 100%;
    height: 100px;
    background: $colour-primary;
    z-index: 1000;

    .main_pages {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        & a {
            width: 15%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100px;
            text-decoration: none;
            font-family: Arial, sans-serif;
            color: white;

            &.active {
                color: $colour-secondary;
                font-weight: bold;

                &:hover {
                    cursor: default;
                    color: $colour-secondary;
                    transition: 0.5s all;
                }
            }
        }

        @media all and (max-width: 991px) {
            height: 60px;

            .main_pages {
                display: none;
                flex-direction: column;
                background: $colour-background;
                height: 220px;
            }

            a {
                width: 50%;
            }
        }
    }

    a:hover {
        background: #5a5766;
    }

    & label {
        display: none;
    
        @media all and (max-width: 991px) {
            width: 30px;
            display: flex;
            justify-content: right;
            margin: 0 auto;
            font-size: 40px;
            color: white;
            cursor: pointer;
        }
    }

    @media all and (max-width: 991px) {
        height: 60px;

        .main_pages 
        {
            display: none;
            flex-direction: column;
            background: #48435c;
            height: 220px;
        }

        a {
            width: 50%;
        }
    }
}



#toggle {
    display: none;

    @media all and (max-width: 991px) {
        &:checked + .main_pages {
            display: flex;
        }
    }
}

.breadcrumb  {
    display: flex;
    justify-content: space-between ;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    a {
        color: $colour-secondary;
    }

    span {
        color: $colour-primary;
    }

    li::before {
        content: "→";
    }

    li:first-child::before {
        content: "";
    }
}


