{% extends "base.html.twig" %}

{% block body %}
<section class="admin">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Liste des posts</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="/admin/addpost" class="btn btn-primary">Ajouter un post</a>
                <hr>
            </div>
        </div>            
        {% for post in Posts %}
        <div class="row">
            <div class="col-lg-6">
                {{ post.title }} 
            </div>
            <div class="col-lg-3 text-center">
                <a href="/admin/modifypost-{{ post.id }}" class="btn btn-primary">Modifier</a> 
            </div>
            <div class="col-lg-3 text-center">
                <a href="/admin/deletepost-{{ post.id }}" class="btn btn-primary" >Supprimer</a>
            </div>               
        </div>
        {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
