@charset "UTF-8";
/* @import "./utils/functions"; */
/* @import "./utils/mixins"; */
/* @import "./utils/extensions"; */
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 10px div by def of 16px */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: #466272;
  padding: 1% 1% 1% 1%;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  color: #122c3e;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.7;
}

h1 {
  font-family: "oswald", "Helvetica Neue", sans-serif;
  font-weight: 900;
  font-size: 5rem;
  font-style: italic;
}

h2 {
  font-family: "Share Tech Mono", "Helvetica Neue", sans-serif;
  font-weight: 900;
  font-size: 5rem;
  font-style: italic;
}

textarea {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

button {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 2.75rem;
}

/* @import "./components/buttons"; */
.center-div {
  margin: 0 auto;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  background: #122c3e;
  height: 15rem;
  width: 100%;
}
.header__logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  max-height: 100%;
  z-index: 5;
}
@media all and (max-width: 991px) {
  .header__logo img {
    max-height: 100%;
  }
}

section.page404 {
  background: #fff;
}

.nav {
  width: 100%;
  height: 100px;
  background: #122c3e;
  z-index: 3;
}
.nav .main_pages {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav .main_pages a {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  color: white;
}
.nav .main_pages a.active {
  color: #d2a058;
  font-weight: bold;
}
.nav .main_pages a.active:hover {
  cursor: default;
  color: #d2a058;
  transition: 0.5s all;
}
@media all and (max-width: 991px) {
  .nav .main_pages {
    height: 60px;
  }
  .nav .main_pages .main_pages {
    display: none;
    flex-direction: column;
    background: #48435c;
    height: 220px;
  }
  .nav .main_pages a {
    width: 50%;
  }
}
.nav a:hover {
  background: #5a5766;
}
@media all and (max-width: 991px) {
  .nav {
    height: 60px;
  }
  .nav .main_pages {
    display: none;
    flex-direction: column;
    background: #48435c;
    height: 220px;
  }
  .nav a {
    width: 50%;
  }
}

label {
  display: none;
}
@media all and (max-width: 991px) {
  label {
    width: 30px;
    display: flex;
    justify-content: right;
    margin: 0 auto;
    font-size: 40px;
    color: white;
    cursor: pointer;
  }
}

#toggle {
  display: none;
}
@media all and (max-width: 991px) {
  #toggle:checked + .main_pages {
    display: flex;
  }
}

.breadcrumb {
  display: flex;
  justify-content: space-between;
}
.breadcrumb ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.breadcrumb a {
  color: #d2a058;
}
.breadcrumb span {
  color: #122c3e;
}
.breadcrumb li::before {
  content: "→";
}
.breadcrumb li:first-child::before {
  content: "";
}

/* @import "./layout/container"; */
/* @import "./layout/form"; */
/* @import "./pages/work"; */
/* @import "./pages/about"; */
/* @import "./pages/project"; */

/*# sourceMappingURL=style.css.map */
