{% extends "base.html.twig" %}

{% block title %}Détails d'un post{% endblock %}

{% block body %}
<section>
    <h3>{{ post.title|convert_encoding('UTF-8', 'ISO-8859-1') }} - {{ post.dateCreate|date("m/d/Y") }}</h3>
    <hr/>
    <p>{{ post.chapo|convert_encoding('UTF-8', 'ISO-8859-1') }}</p>
    <p>{{ post.content|convert_encoding('UTF-8', 'ISO-8859-1') }}</p>
</section>
{% endblock %}