{% extends "base.html.twig" %}

{% block title %}Liste des posts{% endblock %}

{% block body %}
    <h2>Détails d'un post</h2>
    <p>Bonjour {{ name }}</p>
    <p>Blog n° {{ vars.id_post }}</p>
{% endblock %}