$colour-primary: #122c3e;
$colour-secondary: #d2a058;
$colour-accent: #b4406a;
$colour-background : #466272;
$colour-white: #fff;
$colour-invalid: #b4406a;

$heading-shadow-size: 0.55rem;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * 0.25;
