{% extends "base.html.twig" %}

{% block body %}
<section class="page404">
    <div class="center-div">
        <img src="/image/404-code-source.jpg" alt="Erreur 404" />
    </div>
</section>
{% endblock %}

