{% extends "base.html.twig" %}

{% block body %}
<section class="page404">
    <div class="center-div">
        <img src="/image/forbidden.jpg" alt="Accès interdit" />
        <p>Vous n'avez pas accès à cette page</p>
    </div>
</section>
{% endblock %}